@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Roboto:wght@100&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

body {
	font-size: 15px;
	background-color: hsl(240, 78%, 98%);
	background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: right top, bottom left;
	background-size: 18rem, 18rem;
}

main {
	min-height: 44vw;
}

#header {
	text-align: center;
	margin: 50px 0px;
}

#header h3 {
	font-size: 28px;
	margin-bottom: 40px;
	opacity: 0.6;
}

#header div {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header div p {
	display: inline-block;
	margin: 0px 15px;
	opacity: 0.3;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(237, 63%, 64%);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: hsl(237, 63%, 64%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(236, 72%, 79%);
}

input:hover + .slider {
  opacity: 0.6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 140px;
	text-align: center;
}

.card {
	width: 25%;
	display: inline-block;
	background-color: #fff;
	padding: 25px;
	box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
	box-sizing: border-box;
}

#professional {
	background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	color: #fff;
	border-radius: 10px;
	height: 440px;
	padding-top: 40px;
}

#professional h4 {
	font-size: 18px;
}

#prof-price, #basic-price, #master-price {
	font-size: 56px;
}

#professional p{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 16px;
}

#basic, #master {
	height: 410px;
}

#basic {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

#master {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

#basic h4, #master h4 {
	font-size: 18px;
	opacity: 0.7;
}

#basic p, #master p {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 16px;
	opacity: 0.7;
}

input[type=button] {
	width: 100%;
	padding: 12px;
	margin-top: 30px;
	font-size: 12px;
	letter-spacing: 2px;
	cursor: pointer;
	transition-duration: 3000;
	color: #fff;
	background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	border: 1px solid rgba(163, 168, 240, 0.6);
	border-radius: 5px;
	text-transform: uppercase;
}

#professional input[type=button] {
	color: hsl(237, 63%, 64%);
	background: #fff;
}

input[type=button]:hover, input[type=button]:active {
	color: hsl(237, 63%, 64%);
	background: transparent;
	border: 2px solid rgba(163, 168, 240, 1.0);
}

#professional input[type=button]:hover, input[type=button]:active {
	color: #fff;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.8);
}

.attribution { 
	font-size: 16px; 
	text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}